html{
    background-color: #99ccff;
}

h1{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 72px;
}

h3{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 27px;
}

h4{
    font-family: 'Quicksand', sans-serif;
    text-align: right;
    font-size: 18px;
}

h5{
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    font-size: 27px;
}

h6{
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    font-size: 20px;
}

/* This is specifically for the links in index-a */
.a-links{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 15px;
    color: #250752;
}

/* For all links using this file */
a{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;

}

.letter {
    font-size: 76px;
    align-items: center;
}

td, th, tr {
    width: 135px;
}

table{
    align-content: center;
}

/* The arab class just centers the tables and whatnot */
.arab{
    margin-left: auto;
    margin-right: auto;
}

.table-links{
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    font-size: 15px;
    color: #250752;
}

.message {
    font-size: 25px;
    align-items: center;
}