html{
    background-color: #99ccff;
}

h1{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 72px;
}

h3{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 27px;
}